<!DOCTYPE html>
<html>
<head>
    <title>Ducktor Settings</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();
            socket.on('connect', () => {
                console.log('Connected to Socket.IO server');
            });
            
            // Function to send the "execute" event to the server
            function execute() {
                socket.emit('execute');
            }
            
            // Event listener for the button click
            document.getElementById('executeBtn').addEventListener('click', execute);
        });
    </script>
    
</head>
<body>
    <div id="wrapper">
        <div id="center">
             <h1>Ducktor Settings</h1>

            <!--div with Picture of static/ducktor.png-->
            <div></div>

            <div class="random-hover-effect">
                <img src="static/ducktor.png" style="height: 200px;" alt="Rubber Duck Image">
            </div>

            <form method="POST" action="/save_settings">
                <label for="execute_script">Execute script on boot:</label>
                <input type="checkbox" id="execute_script" name="execute_script" value="true"><br><br>
                <label for="execute_script">Prompt Loop:</label>
                <input type="checkbox" id="execute_script" name="execute_script" value="true"><br><br>
                <label for="duck_file">Rubber Duck File:</label>
                <select id="duck_file" name="duck_file">
                    <option value="rickRolled.txt">rickRolled</option>
                    <option value="virusDownload.txt">virusDownload</option>
                    <option value="duckedTales.txt">duckedTales</option>
                </select><br><br>
                <input type="submit" value="Save" class="saveBtn">     
            </form>
            <!--Button to execute a python function-->
            <br><br>
            <button id="executeBtn">Execute script</button>

        </div>
       

    </div>
    
</body>
</html>